
{% extends "layout.html" %}

{% block content %}
<h2>🍷 Wine Diary</h2>
{% for post in posts|sort(attribute="date", reverse=true) %}
<a href="posts/{{ post.date }}.html">
    <h2>{{ post.winename }}</h2>
</a>
🗀 {{ post.category }}
<br>
📆 {{ post.date }}
<br>
<br>
{% if post.tags|length %}
<button class="btn btn-sm btn-danger">{{ post.tags }}</button><br><br>
{% endif %}
{{ post.image }}
<br><br>
{% endfor %}
<script>
document.write("Last edit:" + " " +document.lastModified);
</script>
{% endblock %}
