
{% extends "layout.html" %}

{% block content %}
<h2>🍷 Wine Diary</h2>
{% for post in posts|sort(attribute="date", reverse=true) %}
<a href="posts/{{ post.date }}.html">
    <h2>{{ post.winename }}</h2>
</a>
🗀 {{ post.category }}
<br>
📆 {{ post.date }}
<br>
content
<br>
{% if tags|length %}
<button class="btn btn-sm btn-info">{{ post.tags }}</button>
{% else %}
{% endif %}
<br>
{{ post.image }}
<br>
{% endfor %}
<script>
document.write("Last edit:" + " " +document.lastModified);
</script>

{% endblock %}
