<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>🍷 Wine Diary</title>
    <style>
        body  {
        font-family: Arial;
        background-color: #eee;
        }
        .container {
        width: 80%;
        margin: auto;
        margin-top: 3em;
        }
        a:link  {
        text-decoration: none;
        color: #09c;
        }
        a:visited  {
        text-decoration: none;
        color: #09c;
        }
        .tag {
            background: #f7786b;
            font-size: 0.75em;
        }
    </style>
</head>
<body class="container">
    
    {% block content %} {% endblock %}

    <br>

</body>
</html>